.container-home {
  width: 100%;
  height: 100%;
  margin-top: 9rem;
}

.container-home h1 {
  font-size: var(--special);
  font-weight: 600;
  margin-bottom: 2.2rem;
  padding-left: 40px;
  color: var(--title-color);
}

.container-home h1 span.container-typing {
  position: absolute;
  top: 144px;
  left: 255px;
}

.container-home h1 span.container-typing .type {
  color: var(--color-main);
}

.container-home .container-content {
  width: 100%;
}

.container-home .container-content .container-info-content {
  width: 45%;
  height: 100%;
  margin-left: 50px;
}

.container-home .container-content .container-info-content p {
  font-size: var(--sm-size);
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 2.2rem;
  line-height: 30px;
  letter-spacing: 1px;
}

.container-home .container-content .container-box {
  position: absolute;
  top: 200px;
  right: 210px;
  z-index: 2;
}

.container-home .container-content .container-box .box {
  width: 300px;
  height: 200px;
  background-color: var(--color-main);
}

.container-button a.neon {
  position: relative;
  display: inline-block;
  color: var(--title-color);
  padding: 10px 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 5px;
  border: 0.01px solid var(--color-main);
}

.container-button a.neon:hover {
  color: var(--title-color);
  background: var(--color-main);
  box-shadow: 0 0 10px var(--color-main), 0 0 40px var(--color-main),
    0 0 80px var(--color-main);
  transition-delay: 1s;
}

.container-button a.neon span.span {
  position: absolute;
  display: block;
}

.container-button a.neon span.span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--color-main));
}

.container-button a.neon:hover span.span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.container-button a.neon span.span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--color-main));
}

.container-button a.neon:hover span.span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.container-button a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--color-main));
}

.container-button a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.container-button a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--color-main));
}

.container-button a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
