.container-header {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  box-shadow: 0 0 12px var(--color-main);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--body-color);
  z-index: 2;
}

.container-header .container-nav-list {
  display: flex;
  text-align: left;
  justify-content: left;
}

.container-header .container-nav-list li {
  display: inline-block;
  margin: 30px 20px;
}

.container-header .container-nav-list li .link {
  font-size: 1.1rem;
  color: var(--title-color);
  font-weight: bold;
}

.container-header .container-nav-list li .link:hover {
  color: var(--color-main);
}

.container-header .container-title {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.container-header .container-title i {
  position: absolute;
  top: -5px;
  right: -20px;
  color: var(--color-main);
}

.container-header .container-settings {
  position: absolute;
  top: 30px;
  right: 40px;
}

.container-header .container-settings i {
  font-size: 1.6rem;
  color: var(--title-color);
}

.container-login-link {
  position: absolute;
  top: 30px;
  right: 130px;
}

.container-login-link i {
  position: absolute;
  font-size: 1.6rem;
  color: var(--title-color);
}

.container-logout-link {
  position: absolute;
  top: 0px;
  right: 20px;
}

.container-accesibilidad {
  position: fixed;
  top: 550px;
  right: 30px;
  background-color: #fff;
  border-radius: 50%;
  color: var(--color-main);
  border: 1px solid var(--color-main);
  box-shadow: 0 0 12px var(--color-main);
  z-index: 2;
}

.container-accesibilidad i {
  font-size: 3rem;
}

.container-header .container-colores {
  position: absolute;
  right: -5px;
  width: 220px;
  height: max-content;
  transform: translateX(250px);
  background-color: var(--nav-color-text);
  transition: var(--transition);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.container-header .container-colores div.color {
  margin: 10px 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.container-header .container-colores div button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--nav-color-text);
}

.container-header .container-colores .color button img {
  position: relative;
  top: -2px;
  left: -2px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--body-color);
  border-radius: 50%;
}

.container-header .container-colores div button i {
  position: relative;
  top: 2px;
  color: #fff;
  font-size: 1.3rem;
  display: none;
}

.container-header .container-colores .container-btn-save {
  width: 100%;
  margin: 5px 0;
}

.container-header .container-colores .container-btn-save button {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid var(--body-color);
  font-size: 1rem;
  color: var(--body-color);
  font-family: var(--body-font);
  letter-spacing: 1px;
  font-weight: bold;
}

.container-header .container-colores .container-btn-save button:hover {
  background-color: var(--body-color);
  color: var(--title-color);
}

.container-header .container-colores div button i.ri-check-line.active {
  display: block;
}

.container-header .container-colores div button.red {
  background-color: var(--red);
}

.container-header .container-colores div button.blue {
  background-color: var(--blue);
}

.container-header .container-colores div button.orange {
  background-color: var(--orange);
}

.container-header .container-colores div button.green {
  background-color: var(--green);
}

.container-header .container-colores div button.rosa {
  background-color: var(--rosa);
}

.container-header .container-colores div button.red {
  background-color: var(--red);
}

.container-header .container-colores div button.blue {
  background-color: var(--blue);
}

.container-header .container-colores div button.orange {
  background-color: var(--orange);
}

.container-header .container-colores div button.green {
  background-color: var(--green);
}

.container-header .container-colores div button.rosa {
  background-color: var(--rosa);
}

.container-header .container-colores.open {
  transform: translateX(0);
  transition: var(--transition);
}

.container-header .container-menu-accesibilidad {
  width: 380px;
  height: 90vh;
  position: fixed;
  top: 80px;
  right: 0;
  background-color: var(--title-color);
  overflow-y: scroll;
  z-index: 1;
  scroll-behavior: smooth;
  transform: translateX(400px);
}

.container-header .container-menu-accesibilidad.appear {
  transform: translateX(0);
}

.container-header .container-menu-accesibilidad h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 30px 0;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--body-color);
}
.container-header .container-menu-accesibilidad .container-items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.container-header .container-menu-accesibilidad .container-items .item {
  margin: 20px 20px;
  border-bottom: 1px solid var(--body-color);
}

.container-header .container-menu-accesibilidad .container-items .item h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
  color: var(--body-color);
}

.container-header .container-menu-accesibilidad .container-items .item p {
  font-size: 0.9rem;
  padding: 20px 0;
  color: var(--body-color);
}

/* Button css */

.switch {
  --button-width: 3em;
  --button-height: 1.7em;
  --toggle-diameter: 1.2em;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: #4296f4;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: #ff0000c7;
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
  margin-bottom: 1rem;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
  background-color: var(--green);
}

.switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
    )
  );
}

@keyframes moves {
  0%,
  100% {
    transform: rotateZ(0deg);
  }
  99% {
    transform: rotateZ(360deg);
  }
}
